__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
venv/
.venv/
staticfiles/
media/*
!media/projects/
!media/findings/
!media/blogs/
!media/gallery/
!media/certificates/
!media/resumes/
!media/videos/
!media/cloud/
!media/python/
*.log
.DS_Store
